@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

*{
  margin: 0px;
  padding: 0px;
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #CDF0EA;
  min-height: 100vh;
}

.container{
  width: max-content;
  height: 600px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  scroll-behavior: smooth;
  padding:5px 0px 5px 0px;
  box-shadow: 4px 3px 12px 2px rgba(0,0,0,0.44);
-webkit-box-shadow: 4px 3px 12px 2px rgba(0,0,0,0.44);
-moz-box-shadow: 4px 3px 12px 2px rgba(0,0,0,0.44);
}

.card{
  width:85%;
  padding: 10px;
  background-color: aquamarine;
  font-family: 'Nunito Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  margin: 20px;
  box-shadow: 4px 3px 12px 2px rgba(0,0,0,0.44);
-webkit-box-shadow: 4px 3px 12px 2px rgba(0,0,0,0.44);
-moz-box-shadow: 4px 3px 12px 2px rgba(0,0,0,0.44);
}
