body{
    background-color: rgb(51,8,63);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}

.remaining{
    color: brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px brown solid;
    padding:10px;
}

.booked{
    color: brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px brown solid;
    padding:10px;
}

.box{
    display: flex;
	flex-wrap: wrap;
    background-color: rgb(140,9,9);
    height: 370px;
    width:500px;
    padding: 3px;
    overflow:hidden;
    user-select: none;
}

.notBooked {
	height: 100%;
	background-color: #793322c7;
	border-radius: 1px;
}

.notBooked:hover {
	background-color: #521607c7;
	opacity: 0.5;
}

.bookingdone {
	background-color: #521607c7;
}
