#root{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.toggle{
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.toggle button{
  padding: 10px 15px;
  border: none;
  background-color: aqua;
  color: cadetblue;
}
