#app{
    margin:-15px;
    padding-bottom: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--clr-bg);
    font-family: "Balsamiq Sans", cursive;
    color: var(--clr-neon);
}
h1{
  text-shadow: 0 0 2em hsl(0 0% 100% / 0.3), 0 0 1em var(--clr-neon);
}
#first{
    margin:25px;
    font-size: 1.5em;
    background-color: var(--clr-bg);
    color: var(--clr-neon);
    border: 0.125em solid var(--clr-neon);
    font-weight: bolder;
    border-radius: 5px;
    padding: 0.4em 0.6em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
} 
#first:hover{
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 1em 0 var(--clr-neon);
}
#second{
  margin:25px;
  font-size: 1.5em;
  background-color: var(--clr-bg);
  color: var(--clr-neon);
  border: 0.125em solid var(--clr-neon);
  font-weight: bolder;
  border-radius: 5px;
  padding: 0.4em 0.6em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
} 
#second:hover{
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 1em 0 var(--clr-neon);
}
#result{
  margin:25px;
  font-size: 1.5em;
  border: 0.125em solid var(--clr-neon);
  font-weight: bolder;
  border-radius: 5px;
  padding: 0.4em 0.6em;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
}
:root {
    --clr-neon: hsl(317 100% 54%);
    --clr-bg: hsl(323 21% 16%);
  }
  
  .neon-button {
    font-size: 2rem;
    cursor: pointer;
    color: var(--clr-neon);
    font-family: "Balsamiq Sans", cursive;
    border: var(--clr-neon) 0.125em solid;
    margin:1em 0.15em;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    background: var(--clr-bg);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  }
  .neon-button:hover{
    background-color: var(--clr-neon);
    color: var(--clr-bg);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 1em 0 var(--clr-neon);
  }